.header {
    background-color: #1F1F1F;
    box-shadow: 0px 0px 13px 5px #1F1F1F;
    z-index: 100;
}
.menuPoint {
    transition-duration: .2s;

}
.menuPoint:hover {
    color: #edbe44 !important;
}
.addressBox {
    border-radius: 5px;
    border: 1px solid #bbf8f1;
    color: #edbe44;
}