.questionHover {
    transition: all .15s ease-out;
}
.questionHover:hover {
    transform: scale(1.4);
}
.cardsHover {
    transform: rotate3d(6, 6, 0, 40deg);
    filter: drop-shadow(3px 3px 10px rgba(94, 246, 228, 0.7));
    transition-duration: .25s;
    animation: glow 2.75s infinite;
}
.cardsHover:hover {
    filter: drop-shadow(3px 3px 12px rgba(237, 190, 68, 0.7));
    border: 1px solid #edbe44;
    transform: scale(1.2);
    z-index: 100;
}
.socialLink {
    transition-duration: .35s;
}
.socialLink:hover {
    transform: scale(1.2) rotate3d(6, 6, 0, 40deg);
    filter: drop-shadow(3px 3px 10px rgba(94, 246, 228, 0.7));
}

@keyframes glow {
    0% {
        filter: drop-shadow(3px 3px 10px rgba(94, 246, 228, 0.3));
        border: 1px solid rgba(94, 246, 228, 0.6);
    }
    50% {
        filter: drop-shadow(3px 3px 10px rgba(94, 246, 228, 0.7));
        border: 1px solid #bbf8f1;
    }
    100% {
        filter: drop-shadow(3px 3px 10px rgba(94, 246, 228, 0.3));
        border: 1px solid rgba(94, 246, 228, 0.6);
    }
}