@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');

.font-face-texturina {
    font-family: "Texturina";
}
.font-face-dalek {
    font-family: "DalekPinpointBold";
}
.font-face-TreesRegular {
    font-family: "CF One Two Trees";
}
.font-face-corben {
    font-family: "Corben";
}
.light-text {
    color: #CFCFCF;
}
.dark-text {
    color: #262626;
}
.yellow-text {
    color: #edbe44;
}
.background-fixed {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/src/assets/forest_bg.png");
    z-index: -1;
}
.dark-bg {
    background-color: #0e1b23;
}
.no-click {
    cursor: not-allowed;
}
.no-click:hover {
    filter: blur(1px);
}