@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');

.font-face-texturina {
    font-family: "Texturina";
}
.font-face-dalek {
    font-family: "DalekPinpointBold";
}
.font-face-TreesRegular {
    font-family: "CF One Two Trees";
}
.font-face-corben {
    font-family: "Corben";
}
.light-text {
    color: #CFCFCF;
}
.dark-text {
    color: #262626;
}
.yellow-text {
    color: #edbe44;
}
.background-fixed {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/src/assets/forest_bg.png");
    z-index: -1;
}

.dark-bg {
    background: rgb(14,27,35);
    /*background: linear-gradient(45deg, #0e1b23, #102830, #11363c, #164445, #20524c, #164445, #11363c, #102830);*/
    /*backdrop-filter: blur(4px);*/
    /*background-blend-mode: darken;*/
}
.no-click {
    cursor: not-allowed;
}
.no-click:hover {
    filter: blur(1px);
}
.drop-shadow {
    /*filter: drop-shadow(3px 3px 10px rgba(94, 246, 228, 0.9)) !important;*/
}
.glow-animation {
    animation: glow 2.75s infinite;
}
@keyframes glow {
    0% {
        filter: drop-shadow(3px 3px 5px rgba(94, 246, 228, 0.25));
    }
    50% {
        filter: drop-shadow(3px 3px 10px rgba(94, 246, 228, 0.98));
    }
    100% {
        filter: drop-shadow(3px 3px 5px rgba(94, 246, 228, 0.25));
    }
}