@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DalekPinpointBold";
    src: local("DalekPinpointBold"),
    url("./fonts/DalekPinpointBold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Corben";
    src: local("Corben"),
    url("./fonts/Corben-Regular.ttf") format("truetype");
    font-weight: auto;
}